.container {
	display: inline-block;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    align-items: start;
    position: absolute;
    top: 0;
    right: 0;
    padding-top:25px;
}

.fab {
   padding: 10px;
  font-size: 30px;
  width: 1fr;
  text-decoration: none;
  border-radius: 50%;
  display: inline-block;
  color:#9999;
}

.far {
   padding: 10px;
  font-size: 20px;
  width: 1fr;
  text-decoration: none;
  border-radius: 50%;
  display: inline-block;
}


.fab:hover {
  opacity: 0.7;
}

a:visited { 
  color: #9999;
}

a {
  size: 800px;
}

.title {
	position: center;
	padding-top: 10px;
	color: #F5F5E9;
}
h2 {
	color: #9999;
}

.albumArt {
	display: block;
	
	width: 375px;
	border-radius: 5%;
}

#homeContent {
	text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 20px;
    margin: 15px auto 0 auto;
}

.name {
	color: #F5F5E9;
	padding-top: 20px;
}
.links {
	display: grid;
	padding-bottom:20px
}
.book {
	padding:10px;

}
.me {
	padding:10px;
}
.tour {
	padding:10px;
}

